[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true
[remote "origin"]
	url = https://github.com/typescriptstudies/persi
	fetch = +refs/heads/*:refs/remotes/origin/*
[user]
	name = typescriptstudies
	email = typescriptstudies@gmail.com
	[credential "https://github.com/typescriptstudies/persi"]
		username = typescriptstudies
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
